.co-details-card {
  margin-bottom: 1rem;
}

.co-details-card__body {
  display: flex;
  flex-wrap: wrap;
}

.co-details-card__item-title {
  font-size: 0.875rem;
  text-transform: capitalize;
  flex-basis: 100%;
}

.co-details-card__item-value {
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-basis: 100%;
  margin-bottom: 8px;
}
